body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

html{
    height: 100%;
}
@media (max-width: 768px) {
    body {
      max-width: 720px;
    }
  }
  @media (max-width: 100%) {
    body {
      max-width: 60%;
    }
}

.header{
    background-color: #f1f1f1;
    padding: 20px 10px;
    overflow: hidden;
}
.header a{
    text-decoration: none;
    color: black;
    display: inline-block;
    text-align: center;
    padding: 12px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 25px;
}
.header a.logo{
    color: lime;
    font-size: 35px;
    font-weight: bold;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: default;
}
.sub-header{
    float: right;
    font-weight: bold;
    font-size: 20px;
}
.sub-header a:hover{
    background-color: #ddd;
}

.topnav{
    background-color: black;
    overflow: hidden;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -21px;
}
.topnav a{
    text-decoration: none;
    background-color: limegreen;
    display: block;
    float: left;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 14px 16px;
}
.topnav a:hover{
    background-color: lime;
    color: black;
}
.topnav form{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 12px;
}
.topnav form button{
    cursor: pointer;
    font-weight: bold;
}

.container{
    background-image: url(anime-scenery-night-sky-clouds-horizon-uhdpaper.com-4K-127.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}